.searchInterfaceDiv {
    display: inline-block;
    border: 2px solid black;
    display: inline-block;
    background-color: lightgray;
    left: 10px;
    position: absolute;
    padding: 2px;
}

.sortedInterfaceDiv {
    display: inline-block;
    border: 2px solid black;
    overflow: scroll;
    overflow-x: hidden;
    width:310px;
    height:500px;
    background-color: white;
}

div.sortedInterfaceDiv:empty { display: none }

.searchButton {
    background-color: white;
    border: none;
}

.priceTablePos {
    position: absolute;
    top: 50px;
    right: 10px;
    font-size: 15px;
}
table, table.priceTableClass th, table.priceTableClass td {
    border: 1px solid black;
    border-collapse: collapse;
}
table.priceTableClass th, table.priceTableClass td {
    padding: 5px;
    text-align: left;
}

.graphDisplay {
    position: absolute;
    top: 200px;
    right: 10px;
    height: 200px;
    width: 400px;
    border: 2px solid black;
}
