.searchInterfaceDiv {
    display: inline-block;
    border: 2px solid black;
    display: inline-block;
    background-color: lightgray;
    left: 10px;
    position: absolute;
    padding: 2px;
}

.sortedInterfaceDiv {
    display: inline-block;
    border: 2px solid black;
    overflow: scroll;
    overflow-x: hidden;
    width:310px;
    height:500px;
    background-color: white;
}

div.sortedInterfaceDiv:empty { display: none }

.searchButton {
    background-color: white;
    border: none;
}

.priceBuyTablePos {
    position: absolute;
    top: 400px;
    left: 400px;
    font-size: 15px;
    width: 300px;
    padding: 10px;
}

.priceSellTablePos {
    position: absolute;
    top: 400px;
    left: 710px;
    font-size: 15px;
    width: 300px;
    padding: 10px;
}


.graphDisplay {
    position: absolute;
    top: 70px;
    left: 400px;
    height: 300px;
    width: 600px;
    border: 2px solid black;
}

.itemImgDiv {
    position: absolute;
    top: 390px;
    left: 682px;

    height: 48px;
    width: 48px;
    border-radius: 10px;
    background-image: radial-gradient(circle, #2F95DA, #3E515D);
    
}